.bg-purple {
	background-color: #5B3A9A;
}

.display-5 {
	color:#5B3A9A;
}

.display-10 {
	color:#5B3A9A
}

.purple {
	color: #5B3A9A;
}

.btn-purple {
	background-color: #5B3A9A;
	border-color:  #5B3A9A;
	color: white;
}

body {
	background-color: #F5F7FA;
}
